body {
    background: #dddddd00;
}

#wrapper {
    position: absolute;
    left: 50%;
    top: 60%;
    perspective: 1500px;
}

.box-area {
    position: relative;
    transform-style: preserve-3d;
    animation-name: rotate;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
        transform: rotate3d(0, 0, 0, 0);
    }
    100% {
        transform: rotate3d(0, 1, 0, 360deg);
        ;
    }
}

.box {
    position: fixed;
    width: 240px;
    height: 240px;
    border: 2px solid #26262600;
}

#box-front {
    transform: translateX(-120px) translateY(-120px) translateZ(120px);
    background: rgba(255, 16, 108, 0);
}

#box-back {
    transform: translateX(-120px) translateY(-120px) translateZ(-120px);
    background: rgba(1, 251, 234, 0);
}

#box-right {
    transform: translateY(-120px) rotateY(90deg);
    background: rgba(4, 255, 117, 0);
}

#box-left {
    transform: translateY(-120px) translateX(-240px) rotateY(90deg);
    background: rgba(217, 255, 0, 0);
}

#box-top {
    transform: translateX(-120px) translateY(-240px) rotateX(90deg);
    background: rgba(0, 4, 246, 0);
}

#box-bottom {
    transform: translateX(-120px) rotateX(90deg);
    background: rgba(255, 196, 0, 0.215);
    border-radius: 2px;
    box-shadow: 0 20px 30px rgba(234, 212, 126, 0.281);
    filter: blur(80px);
    border: 1px solid #ffffff44;
}

.box-area {
    transform: rotateX(90deg) rotateY(90deg);
}

body {
    background: black;
    text-align: center;
    padding: 60px;
    font-family: sans-serif;
}

.button {
    text-decoration: none;
    color: #C5C3BB;
    background: rgba(244, 191, 1, 0.272);
    padding: 128px 78px 100px;
    border-radius: 2px;
    border: 3px solid #ffffff;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
}

.glow-button:hover {
    background-color: #E5E2D7;
    color: rgb(234, 219, 162);
    box-shadow: 0 20px 30px rgba(252, 243, 207, .6);
}